
.home{
    margin: 1em;
    max-width: 100%;
    padding-bottom: 1em;


    .first-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        h1{
            line-height: 1.2;
            font-size: 1.8rem;
        }
        h5{
            font-size: .8rem;
            color: grey;
            text-align: end;
            line-height: 1;
            font-weight: 700;
        }
    }

    .second-sec{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        
        .pages{
            border-radius: 1rem;
            padding: .5em 1.2em;
            font-weight: 550;
            font-size: .8rem;
            align-items: center;
            font-weight: 550;
            background-color: rgba(128, 128, 128, 0.144);
            transition: all .2s;

            &:hover{
                background-color: black;
                color: white;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                 box-shadow: 4px 8px 20px 2px rgba(201, 201, 201, 0.47);
            }
        }
    }
}